<div class="box">
    <form action="post" [formGroup]="plantForm" (submit)="addplant()">
        <div class="input-box ">
            <label for="description" class="form-label" >Leírás</label>
            <input type="text" class="form-control"  formControlName="plant_id">
        </div>

        <div class="d-grid mt-3">
            <button class="btn btn-info" type="submit">Feltölt</button>
        </div>
    </form>
</div>

<table *ngFor = 'let plant of plants' >
  <td><img [src]='"http://localhost:8000/storage/images/"+plant.imgpath' alt="" class="form-control"></td>
    <td></td>
    <td></td>
    <td></td>
</table>

<li class="nav-item">
  <a class="nav-link "  (click)="logout()"> <h1>Kijelentkezés</h1></a>
</li>
