<div class="box">
    <form action="post" [formGroup]="plantForm" (submit)="addplant()">
        <div class="input-box ">
            <label for="description" class="form-label" >Leírás</label>
            <input type="text" class="form-control"  formControlName="plant_id">
        </div>
      
        <div class="d-grid mt-3">
            <button class="btn btn-info" type="submit">Feltölt</button>
        </div>
    </form>
</div>

<table *ngFor = 'let plant of plants' >
    <td>{{plant.id}}</td>
    <td></td>
    <td></td>
    <td></td>
</table>
