<div class="box">
    <form action="post" [formGroup]="plantForm" (submit)="addplant()">
        <div class="input-box ">
            <label for="description" class="form-label" >Leírás</label>
            <input type="text" class="form-control"  formControlName="plant_id">
        </div>

        <div class="d-grid mt-3">
            <button class="btn btn-info" type="submit">Feltölt</button>
        </div>
    </form>
</div>

<div id="container" *ngFor = 'let plant of plants' >
    <div class="card">
      <div class="imgBx" >
        <img [src]='"http://localhost:8000/storage/images/"+plant.imgpath' alt="">
      </div>
      <div class="content">
        <h1>{{plant.name}}</h1>
        <p>{{plant.description}}</p>
        <p> Re labore doloribus quae non mollitia eos dicta.</p>
        <a href="#">Olvass tovább</a>
        <!-- ide jöhetne egy index az összes növényről  -->

      </div>
    </div>
  </div>

<li class="nav-item">
  <a class="nav-link "  (click)="logout()"> <h1>Kijelentkezés</h1></a>
</li>
