@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alkatra', cursive;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background:linear-gradient(45deg,black,white);
}

#container{

  position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;

}

#container .card
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 350px;
  height: 300px;
  background: white;
  border-radius: 20px;
  box-shadow:  0 35px 80px rgba(0,0,0,0.15);
}

#container .card:hover{

  height: 400px;
}


#container .card .imgBx
{
  position: absolute;
  width: 300px;
  height: 220px;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;

}
#container .card:hover .imgBx
{
  top: -100px;
  scale:  0.5;
  box-shadow: 0 15px 45px  rgba(0,0,0,0.2);
}
#container .card .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#container .card .content
{
  top: 250px;
  width: 100%;
  position: absolute;
  width: 100%;
  padding: 0 30px;
  height: 35px;
  overflow: hidden;
  transition: 0.5s;
}
#container .card:hover .content
{
  top: 130px;
  height: 250px;
}
#container .card .content h1
{

  font-size: 1.2em;
  font-weight: 700;

}
#container .card .content p{

  color: red;
}
#container .card .content a{

  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: blue;
  color: white;
  font-weight: 500;
  text-decoration:none ;
  border-radius: 8px;

}
.inputcontainer{
  align-items: center;
  text-align: center;
  position: right;
}

.inputcontainer  .name input,
 .desc input,.watering input,
 .temp input, .light input ,
.human input, .number input {
  position: relative;
  width: 750px;
  height: 50px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 10px;
  background: rgb(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);

}
 button {
  background-color: #3e8e41;
  height: 80px;
  width: 100px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 10px;
  background: rgb(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
}

.toggle-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.inputcontainer .im input{
  width: 750px;
  height: 50px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 10px;
  background: rgb(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255,255,255,0.5);
  border-left: 1px solid rgba(255,255,255,0.5);
  backdrop-filter: blur(5px);

}
@media screen and (max-width:1024px)
{
  body{
    align-items: center;
    justify-content: center;
  
  }
  #container {
    display: inline-block;
    padding: 25px;
    align-items: center;
    justify-content: center;
  }
  button{
    display: inline-block;

  }

}

@media screen and (max-width:800px) {

  html{
    width: auto;

  }
  #container {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: center;
  }
  #container .card {
    width: 75%;
    display: flex;
  
  }
  #container .card .imgBx{
    width: 50%;
  }
  #container .card .imgBx img{
    height: 25%;
  }
  #container .card:hover .imgBx
{
  top: -100px;
  box-shadow: 0 2px 25px  rgba(0,0,0,0.2);
}
#container .card:hover .imgBx img{
  height: auto;
}

}



