



  <form [formGroup]="plantForm" (ngSubmit)="uploadFile()">
    <input type="file" (change)="onFileChange($event)"  formControlName="imgpath" class="form-control">
    <input type="text" placeholder="név" formControlName="name" class="form-control" >

  <input type="text"  class="form-control" placeholder="leírás" formControlName="description">
  <input type="text" placeholder="locsolás " formControlName="watering" class="form-control">
  <input type="text" placeholder="hőmérséklet" formControlName="temperature" class="form-control">
  <input type="text" placeholder="fényigény " formControlName="light_requirement" class="form-control">
  <input type="text" placeholder="páratartalom " formControlName="humidity" class="form-control">
  <input type="number" placeholder="szám " formControlName="heat_demand" class="form-control">


  <div class="button mb-3 text-center">
    <button id="button" class="btn btn-info" type="submit" >Felvétel</button>
  </div>

 </form>
  <li class="nav-item">
    <a class="nav-link "  (click)="logout()"> <h1>Kijelentkezés</h1></a>
  </li>



<table *ngFor = 'let plant of plants' >
    <td>{{plant.light_requirement}}</td>
    <td>{{plant.name}}</td>
    <td><img [src]='"http://localhost:8000/storage/images/"+plant.imgpath' alt="" class="form-control"></td>
    <td></td>
</table>






