<div class="hero">
  <div class="navbar">
    <img src="/assets/images/falev.jpg" alt="" class="logo">
    <button type="button"> Belépés</button>
  </div>
  <div class="content">
    <small>Szia </small>
    <h1>Szia megint</h1>
    <button type="button">Regisztráció</button>
  </div>
  <div class="leafs">
    <img src="/assets/images/fas.jpg">
    <img src="/assets/images/fas.jpg">
    <img src="/assets/images/fas.jpg">
    <img src="/assets/images/fas.jpg">
    <img src="/assets/images/fas.jpg">
    <img src="/assets/images/fas.jpg">
    <img src="/assets/images/fas.jpg">
  </div>



</div>
