
<html lang="hu">
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<footer>
  <h2>Hamarosan elérhető csicskák</h2>
  <div class="set">
    <div class=""><img src="http://clipart-library.com/images/6cp5Gq5di.png " height="115px" ></div>
    <div class=""><img src="http://clipart-library.com/images_k/falling-leaves-transparent-background/falling-leaves-transparent-background-22.png " height="115px" ></div>
    <div class=""><img src="http://clipart-library.com/images_k/fall-leaf-transparent-background/fall-leaf-transparent-background-1.png " height="115px" ></div>
    <div class=""><img src="http://clipart-library.com/images/6cp5Gq5di.png "height="75px" ></div>
    <div class=""><img src="http://clipart-library.com/images_k/fall-leaf-transparent-background/fall-leaf-transparent-background-1.png" height="115px"></div>
    <div class=""><img src="http://clipart-library.com/newimages/fall-leaves-clip-art-34.png" height="115px"></div>
  </div>
</footer>
<body>

<div class="container">
  <h1>Hamarosan elérhető</h1>
</div>


</body>
</html>