
@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;
  }
  footer{
  position: relative;
  width:100%;
  height: 100vh;
  background: url("/assets/images/trees.jpg");
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  }
  footer h2{
    color: white;
    font-size: 8em;
    text-transform: uppercase;
  }
  footer .set{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  footer .set div{
    position: absolute;
    display: block;
  }
  footer .set div:nth-child(1){
    left :20%;
    animation:  leafs 15s linear infinite;
    animation-delay: -7s;
  }
  footer .set div:nth-child(2){
    left :40%;
    animation:  leafs 18s linear infinite;
    animation-delay: -15s;
  }
  footer .set div:nth-child(3){
    left :60%;
    animation:  leafs 18s linear infinite;
    animation-delay: -15s;
  }
  footer .set div:nth-child(4){
    left :75%;
    animation:  leafs 15s linear infinite;
    animation-delay: -7s;
  }
  footer .set div:nth-child(5){
    left :70%;
    animation:  leafs 10s linear infinite;
    animation-delay: -12s;
  }
  footer .set div:nth-child(6){
    left :10%;
    animation:  leafs 18s linear infinite;

  }
  nav{
    background: linear-gradient(45deg,#8A307F,  #79A7D3, #6883BC );
  }


  @keyframes leafs {
    0%{
      opacity: 0;
      top: -10%;
      transform: translateX(20px) rotate(0deg);
    }
    10%{
      opacity: 1;
    }
    20%{
      transform:  translateX(-20px) rotate(45deg);
    }
    40%{
      transform:  translateX(-20px) rotate(90deg);
    }
    60%{
      transform:  translateX(-20px) rotate(90deg);
    }
    80%{
      transform:  translateX(-20px) rotate(90deg);
    }
    100%{
      top: 110%;
      transform:  translateX(-20px) rotate(225deg);
    }
  }

footer .container{
    align-items: center;
    text-align: center;
    position: right;

  }



  footer .container .button{
    width: 15px;
    height: 50px;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    margin: 25px;
    padding: 15px;

  }
  footer .container  .email input ,.password  input  {
    position: relative;
    width: 750px;
    height: 50px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
}




footer form h1 , .btn,a{
    align-items: center;
    text-align: center;
    color:#9CC3D5FF  ;

}
footer form .container  .email label, .password label, .password input::placeholder,.email input::placeholder  {
  align-items: center;
  text-align: center;
  color:#9CC3D5FF  ;

}
